@use '../mixin';
@use '../variables';

/* hero
================================================ */
.hero {
  height: calc(100svh - 50px);
  background-image: url('../images/front-page/bg-main-mobile.webp');
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;

  @include mixin.media(sm) {
    height: calc(100svh - 110px);
    background-image: url('../images/front-page/bg-main.webp');
    align-items: center;
  }

  &__text {
    // Since the parent element is stretched to fill the entire browser width, we set a max-width of 1200px here to constrain the width of the text content.
    width: 100%;
    max-width: 1200px;
    margin: {
      left: auto;
      right: auto;
    }
    padding: {
      top: 80px;
      left: 20px;
    }

    color: variables.$color-text-inverse;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;

    @include mixin.media(sm) {
      padding: {
        top: 60px;
        left: 40px;
        bottom: 80px;
      }
    }
  }

  &__heading {
    font-family: variables.$eng-font;
    font-size: 36px;
    line-height: 48px;

    @include mixin.media(sm) {
      font-size: 56px;
      line-height: 72px;
    }
  }

  &__subheading {
    font-size: 14px;
    margin-top: 15px;

    @include mixin.media(sm) {
      font-size: 18px;
      margin-top: 20px;
    }
  }
}

/* lead
================================================ */
.lead {
  max-width: 1200px;
  margin: 60px auto;
  padding: {
    left: 20px;
    right: 20px;
  }

  &__quote {
    font-weight: bold;
    text-align: left;

    @include mixin.media(sm) {
      text-align: center;
    }
  }

  &__sentence {
    line-height: 1.4;
    text-align: left;

    @include mixin.media(sm) {
      text-align: center;
      line-height: 1.6;
    }
  }

  &__link-button-area {
    @include mixin.link-button-area;
  }
}

/*
reccomended
================================================ */

.recommended {
  background-color: variables.$color-surface;
  padding: {
    top: 45px;
    bottom: 55px;
  }

  &__heading {
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 36px;
      height: 3px;
      background-color: variables.$color-text;
      margin: {
        top: 20px;
        left: auto;
        right: auto;
      }
    }
  }

  &__scroll {
    overflow-x: auto;
  }

  &__item-list {
    display: flex;
    gap: 30px;

    // Move the left and right padding from scroll to the item list to prevent iOS Safari WebKit bug where the right padding is not included in the scrollable area of the scroll container with overflow-x: auto.
    padding: 40px 20px 10px;
    width: fit-content;
    margin: 0 auto;

    @include mixin.media(lg) {
      gap: 75px;

      // Same reason as above, move the right padding to the item list.
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__items {
    flex-shrink: 0;
    width: 220px;

    @include mixin.media(sm) {
      width: 260px;
    }
  }

  &__item-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__item-desc {
    margin-top: 20px;
  }

  &__item-name {
    font-weight: bold;
  }

  &__item-sentence {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
  }

  &__price {
    font-weight: bold;
    margin-top: 15px;
  }

  &__link-button-area {
    @include mixin.link-button-area;
  }
}
