$white: #fff;
$black: #000;
$color-accent: #f4dd64;
$color-accent-hover: #d8b500;

// text / base
$color-text: $black;
$color-text-inverse: $white;
$color-bg: $white;
$color-link: $color-accent;
$color-link-hover: $color-accent-hover;

// surfaces
$color-surface: #f8f8f8; // Background color for the main content area if needed.
$color-nav-surface: #736e62; // Mobile navigation background color
$color-footer-surface: #24211b; // Footer background color

// action (button)
$color-button: $color-accent;
$color-button-hover: $color-accent-hover;

// Fonts
$eng-font: 'Montserrat', sans-serif;
